Django>=4.0 # Django version
psycopg2>=2.9 #postgres version 
NumPy>=1.21.2 #NumPy
SciPy>=1.7.0  #SciPy
Scikit-learn>=1.0 #Scikit-learn
Matplotlib>=3.4.3 #Matplotlib
pandas>=1.3.2 #pandas
torch>=1.12 #pytorch
tf-nightly>=2.10.0.dev2022071 #tensorflow
yfinance >= 0.1.73 #yahoo finance for testing purpose
